<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HandwrittenDigitsRecognition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HandwrittenDigitsRecognition.Properties.Settings>
            <setting name="TrainNISTImageFile" serializeAs="String">
                <value>D:\Master Vision Artificial\AI\Practicas\Tena9-PracticaReconocimientoDigitos\train-images.idx3-ubyte</value>
            </setting>
            <setting name="TrainNISTLabeleFile" serializeAs="String">
                <value>D:\Master Vision Artificial\AI\Practicas\Tena9-PracticaReconocimientoDigitos\train-labels.idx1-ubyte</value>
            </setting>
            <setting name="TestNISTImageFile" serializeAs="String">
                <value>D:\Master Vision Artificial\AI\Practicas\Tena9-PracticaReconocimientoDigitos\t10k-images.idx3-ubyte</value>
            </setting>
            <setting name="TestNISTLabeleFile" serializeAs="String">
                <value>D:\Master Vision Artificial\AI\Practicas\Tena9-PracticaReconocimientoDigitos\t10k-labels.idx1-ubyte</value>
            </setting>
            <setting name="HiddenLayerNeurons" serializeAs="String">
                <value />
            </setting>
            <setting name="ROW_COUNT" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="INPUT_COUNT" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="OUTPUT_COUNT" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ITERATIONS" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="TrainCSVFile" serializeAs="String">
                <value>D:\Master Vision Artificial\AI\Projects\HandWrittenDigits\HandWrittenDigitsTraining.csv</value>
            </setting>
            <setting name="TestCSVFile" serializeAs="String">
                <value>D:\Master Vision Artificial\AI\Projects\HandWrittenDigits\HandWrittenDigitsTest.csv</value>
            </setting>
            <setting name="XMLPersistBasicNetwork" serializeAs="String">
                <value />
            </setting>
            <setting name="MAX_iMAGE_DIMENSION" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="LEARN_ERROR" serializeAs="String">
                <value>0.00001</value>
            </setting>
            <setting name="MOMENTUM" serializeAs="String">
                <value>0.0</value>
            </setting>
        </HandwrittenDigitsRecognition.Properties.Settings>
    </applicationSettings>
</configuration>